{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="text-center justify-content-center align-items-center d-flex flex-column" >  
        <p class = "fs-2">Enter your watch party details: </p>
        <form method = "post">
            <input type="hidden" name="account" value = "{{ user }}">
            <table>
                {{ form }}
                <br>
            </table>
            <br>
            {% csrf_token %}
            <button type = "submit" class = "btn btn-dark"> Post</button>
        </form>
    </div>
   
</body>
</html>