{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Watchparty</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'organizer:login' %}" role="button">Home</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Watchparties
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'organizer:watchparties' %}">My Watchparties</a></li>
                    <li><a class="dropdown-item" href="{% url 'organizer:form' %}">Create Watchparty</a></li>
                  
                </ul>
                </li>
                <li class = "Favorites">
                    <a class="nav-link favorites" aria-current="page" href="{% url 'organizer:favorites' %}" role="button"> Favorites </a>
                </li>
    
                
            </ul>
    
            <ul class="navbar-nav1 mr-auto mf-2 mf-lg-0"></ul>
                <a class="nav1-item dropdown">
                    <a class="nav1-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome, {{user}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'organizer:logout' %}">Logout</a></li>
                    <!-- <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </a>
            </ul>
            
        </div>
        </div>
        </nav>
    

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="text-center justify-content-center align-items-center d-flex flex-column" >  
        <p class = "fs-2">Enter your watch party details: </p>
        <form method = "post">
            <input type="hidden" name="account" value = "{{ user }}">
            <table>
                {{ form }}
            </table>
            <br>
            {% csrf_token %}
            <button type = "submit" class = "btn btn-dark"> Post</button>
        </form>
    </div>
   
</body>
</html>