<fieldset>
    <legend><h1>{{ watchparty.title_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h1>Start Date: {{ watchparty.start_date}}</h1>
    <h1>End Date: {{ watchparty.end_date}}</h1>
    <h1>Added Users:</h1>
    {% for account in watchparty.addeduser_set.all %}
        {{ account.account }}
    {% endfor %}
    <h1>Availability Ranges:</h1>
    {% for range in watchparty.availabilityrange_set.all %}
        for User {{ range.account }}: {{ range.start_time }} - {{ range.end_time }}
    {% endfor %}
    <h1>Movies</h1>
    <br>
    {% for key, value in search.items %}
        {% if watchparty.title_text == key.0|stringformat:"s" %}
            "{{key.1}}" has {{value}} votes <br>
        {% endif %}
    {% endfor %}

    <h1>Add more movies</h1>
    <form type="get" action="/search">
        <input id="search_box" type="text" name="search_box" placeholder="Search for a Movie" >
        <button id= "search_submit" type ="submit" >Submit</button>
    </form>

    <!-- <a href = "{% url 'organizer:movies' %}" > Add a movie </a> -->

</fieldset>
