<!-- CHECK IF USER IS ALLOWED TO VIEW THIS PAGE -->
{% if user in allowedUsers %}
<fieldset>
    <legend><h1>{{ watchparty.title_text }}</h1></legend>
    <h3> Watchparty Creator: {{ watchparty.account }} </h3>

    <!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- WATCH PARTY INHERENT INFO -->
    <h1>Start Date: {{ watchparty.start_date}}</h1>
    <h1>End Date: {{ watchparty.end_date}}</h1>

    <!-- LIST OF ADDED USERS -->
    <h1>Added Users:</h1>
    {% for account in watchparty.addeduser_set.all %}
        {{ account.account }},
    {% endfor %}

    <!-- INVITE NEW USERS -->
    <h2>Invite User:</h2>
    <form method="POST" action="{% url 'organizer:addUser' %}">
        {% csrf_token %}
        <select name="userID" id="userID">
            {% for user in users %}
                <option value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <button type = "submit" > Add User </button>
    </form>

    <!-- KICK USERS IF YOU ARE OWNER -->
    {% if user == watchparty.account %}
    <h2>Kick User:</h2>
    <form method="POST" action="{% url 'organizer:kickUser' %}">
        {% csrf_token %}
        <select name="kickedUserID" id="kickedUserID">
            {% for user in allowedUsers %}
                <option value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <button type = "submit" > Kick User </button>
    </form>
    {% endif %}

    <!-- SHOW USER'S AVAILABILITY RANGES -->
    <h1>Availability Ranges:</h1>
    {% for range in watchparty.availabilityrange_set.all %}
        for User {{ range.account }}: {{ range.start_time }} - {{ range.end_time }}
        <br>
    {% endfor %}
    <form method="GET" action = "{% url 'organizer:addAvil' %}" >
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add an Availability Range </button>
    </form>

    <!-- Show the optimal range of times to have a watch party-->
    <h1> Optimal Range of Times</h1> 
    {% if optimalRange|length > 0 %}
    Optimal Start Time for Watchparty: {{ optimalRange.0 }} <br>
    Optimal End Time for Watchparty: {{ optimalRange.1 }}

    {% endif %}


    <!-- VOTE FOR AN EXISTING MOVIE -->
    <h1>Vote for a Movie to Watch: </h1>
    <form method="POST" action = "{% url 'organizer:addMovie' %}" >
        {% csrf_token %}
        {% for key, value in search.items %}
            {% if watchparty.title_text == key.0|stringformat:"s" %}
                <input type="radio" id="{{key.1}}" name="movies" value="{{key.1}}">
                <label for="{{key.1}}"> "{{key.1}}" has {{value}} votes </label>
                {% if key.1 in userVotes %}
                    <------------ You voted for this
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" name = "vote"> Vote! </button>
        <button type = "submit" name = "rmVote"> Remove Vote </button>
    </form>

    <!-- ADD MORE MOVIES -->
    <h1>Add more movies</h1>

    <!-- ADD VIA MANUAL INPUT -->
    <h2>Manually add Movie:</h2>
    <form method="POST" action = "{% url 'organizer:addMovie' %}" >
        {% csrf_token %}
        <input id="movies" type="text" name="movies" placeholder="Manually add Movie" >
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Movie </button>
    </form>

    <!-- ADD VIA SEARCHING -->
    <h2>Search for a movie:</h2>
    <form type="get" action=".">
        <input id="search_box" type="text" name="search_box" placeholder="Search for a Movie" >
        <button id= "search_submit" type ="submit" >Search</button>
    </form>

    {% if searchResults|length > 1 %}
    <form method="POST" action = "{% url 'organizer:addMovie' %}" >
        {% csrf_token %}
        {% for range in searchResults %}
            <input type="radio" id="{{range}}" name="movies" value="{{range}}">
            <label for="{{range}}"> {{range}} </label><br>
        {% endfor %}
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Movie </button>
    </form>
    {% endif %}

    <!-- ADD FROM YOUR FAVORITES -->
    <h2>Add From Your Favorites: </h2>
    <form method="POST" action = "{% url 'organizer:addMovie' %}" >
        {% csrf_token %}
        {% for fav in user.favoritemovie_set.all %}
                <input type="radio" id="fav{{ fav.movie }}" name="movies" value="{{ fav.movie }}">
                <label for="fav{{ fav.movie }}"> {{fav.movie}} </label><br>
        {% endfor %}
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Movie </button>
    </form>

</fieldset>

<!-- ADD A NEW COMMENT -->
<h2>Add a Comment:</h2>
    <form method="POST" action = "{% url 'organizer:getComment' %}" >
        {% csrf_token %}
        <textarea id="comment" name="comment" rows = "4" cols = "50" placeholder="Type your Comment Here"></textarea>
        <br>
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Comment </button>
    </form>

<!-- VIEW COMMENTS, ABLE TO DELETE YOUR OWN -->
<h2>Comments:</h2>
    {% for c in comments %}
        <fieldset>
        {{ c.account }} : {{ c.text }} -------------- Posted {{ c.pub_date }}
        {% if c.account == user %}
            <form method="POST" action = "{% url 'organizer:deleteComment' %}" >
                {% csrf_token %}
                <input type="hidden" name="commentID" value = "{{ c.id }}">
                <button type = "submit" > Delete </button>
            </form>
        {% endif %}
        </fieldset>
    {% endfor %}
<!-- LEAVE WATCHPARTY -->
{% if watchparty.account.username != user.username %}
    <form method="POST" action="{% url 'organizer:kickUser' %}">
        {% csrf_token %}
        <input type="hidden" name="kickedUserID" value = "{{ user.id }}">
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <button type = "submit" > Leave WatchParty </button>
    </form>
{% endif %}
<!-- IF NOT AN ALLOWED USER, NO PERMS -->
{% else %}
    <h1> No Permissions to View this Watchparty </h1>
{% endif %}
