{% if user in allowedUsers %}
<fieldset>
    <legend><h1>{{ watchparty.title_text }}</h1></legend>
    <h3>Watchparty Creator: {{ watchparty.account }} </h3>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h1>Start Date: {{ watchparty.start_date}}</h1>
    <h1>End Date: {{ watchparty.end_date}}</h1>
    <h1>Added Users:</h1>
    {% for account in watchparty.addeduser_set.all %}
        {{ account.account }}
    {% endfor %}



    <h2>Invite User:</h2>
    <form method="POST" action="{% url 'organizer:addUser' %}">
        {% csrf_token %}
        <select name="userID" id="userID">
            {% for user in users %}
                <option value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <button type = "submit" > Add User </button>
    </form>

    {% if user == watchparty.account %}
    <h2>Kick User:</h2>
    <form method="POST" action="{% url 'organizer:kickUser' %}">
        {% csrf_token %}
        <select name="kickedUserID" id="kickedUserID">
            {% for user in allowedUsers %}
                <option value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <button type = "submit" > Kick User </button>
    </form>
    {% endif %}



    <h1>Availability Ranges:</h1>
    {% for range in watchparty.availabilityrange_set.all %}
        for User {{ range.account }}: {{ range.start_time }} - {{ range.end_time }}
        <br>
    {% endfor %}
    <form method="GET" action = "{% url 'organizer:addAvil' %}" >
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add an Availability Range </button>
    </form>
    <h1>Movies</h1>
    <br>
    <form method="POST" action = "{% url 'organizer:addMovie' %}" >
        {% csrf_token %}
        {% for key, value in search.items %}
            {% if watchparty.title_text == key.0|stringformat:"s" %}
                <input type="radio" id="{{key.1}}" name="movies" value="{{key.1}}">
                <label for="{{key.1}}"> "{{key.1}}" has {{value}} votes </label>
                <br>
            {% endif %}
        {% endfor %}
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Vote! </button>
    </form>
    <h1>Add more movies</h1>

    <h2>Manually add Movie:</h2>
    <form method="POST" action = "{% url 'organizer:addMovie' %}" >
        {% csrf_token %}
        <input id="movies" type="text" name="movies" placeholder="Manually add Movie" >
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Movie </button>
    </form>

    <h2>Search for a movie:</h2>
    <form type="get" action=".">
        <input id="search_box" type="text" name="search_box" placeholder="Search for a Movie" >
        <button id= "search_submit" type ="submit" >Search</button>
    </form>

    {% if searchResults|length > 1 %}
    <form method="POST" action = "{% url 'organizer:addMovie' %}" >
        {% csrf_token %}
        {% for range in searchResults %}
            <input type="radio" id="{{range}}" name="movies" value="{{range}}">
            <label for="{{range}}"> {{range}} </label><br>
        {% endfor %}
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Movie </button>
    </form>
    {% endif %}
</fieldset>
<h2>Add a Comment:</h2>
    <form method="POST" action = "{% url 'organizer:getComment' %}" >
        {% csrf_token %}
        <input id="comment" type="text" name="comment" placeholder="Type your comment here" >
        <input type="hidden" name="watchpartyID" value = "{{ watchparty.id }}">
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Comment </button>
    </form>
<h2>Comments:</h2>
    {% for c in comments %}
        <fieldset>
        {{ c.account }} : {{ c.text }} -------------- Posted {{ c.pub_date }}
        {% if c.account == user %}
            <form method="POST" action = "{% url 'organizer:deleteComment' %}" >
                {% csrf_token %}
                <input type="hidden" name="commentID" value = "{{ c.id }}">
                <button type = "submit" > Delete </button>
            </form>
        {% endif %}
        </fieldset>
    {% endfor %}

{% endif %}

