<!DOCTYPE html>
{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <p class = "fs-2"> {{user}}'s List of Favorited Movies </p> 
    <!--<h1 class = "text-center"> {{user}}'s List of Favorited Movies</h1> -->
</head>
<body>
    <h1> My Favorites</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <form method="POST" action = "{% url 'organizer:rmFav' %}" >
        {% csrf_token %}
        {% for key,val in favorites.items %}
            <input type="radio" id="{{ key.movie }}" name="movies" value="{{ key.movie }}">
            <label for="{{ key.movie }}"> "{{key.movie}}"</label>
            {% if val|length > 0 %}
                ----- Also Favorited By:
                {% for sameTaster in val %}
                    {{ sameTaster.account }},
                {% endfor %}
            {% endif %}
            <br>
        {% endfor %}
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Remove Favorite </button>
    </form>

    <h1>Add more favorite movies</h1>

    <!-- ADD VIA MANUAL INPUT -->
    <!-- <h2>Manually Add:</h2> -->

    <form method="POST" action = "{% url 'organizer:addFav' %}">
        <div class="mb-3">
          <label for="addMovies" class="form-label"> Manually Add Your Movie</label>
          <br>
          <input id="movies" type="text" name="movies" placeholder="Enter movie name" >
          <input type="hidden" name="userID" value = "{{ user.id }}">
          <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
        </div>
        <button type="submit" class="btn btn-primary">Add movie</button>
      </form>


   <!-- <form method="POST" action = "{% url 'organizer:addFav' %}" >
        {% csrf_token %}
        <input id="movies" type="text" name="movies" placeholder="Manually add Movie" >
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Movie </button>
    </form> -->

    <!-- ADD VIA SEARCHING -->

    <form method="GET" action="{% url 'organizer:favorites' %}">
        <div class="mb-3">
          <label for="searchMovies" class="form-label"> Search Your Movie</label>
          <br>
          <input id="search_box" type="text" name="search_box" placeholder="Search for a Movie" >
          <!--<input type="hidden" name="userID" value = "{{ user.id }}"> -->
          <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
        </div>
        <button id= "search_submit" type ="submit" >Search</button>
      </form>


    <!-- <h2>Search:</h2>
    <form method="GET" action="{% url 'organizer:favorites' %}">
        <input id="search_box" type="text" name="search_box" placeholder="Search for a Movie" >
        <button id= "search_submit" type ="submit" >Search</button>
    </form> -->

    {% if searchResults|length > 1 %}
    <form method="POST" action = "{% url 'organizer:addFav' %}" >
        {% csrf_token %}
        {% for range in searchResults %}
            <input type="radio" id="{{range}}" name="movies" value="{{range}}">
            <label for="{{range}}"> {{range}} </label><br>
        {% endfor %}
        <input type="hidden" name="userID" value = "{{ user.id }}">
        <button type = "submit" > Add Movie </button>
    </form>
    {% endif %}

</body>
</html>