{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">


{% load socialaccount %}
<html>

    <link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">


<head>
    <title>Google Registration</title>
</head>

<body>
    <h1>Watch Party Organizer</h1>
    {% if user.is_authenticated %}

    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo"> Welcome, {{ user.username }}! </div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/">Watch parties</a></li>
        <li class="services">
        <a href="/">Services</a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
        <li><a href="/">Dropdown 1 </a></li>
        <li><a href="/">Dropdown 2</a></li>
        <li><a href="/">Dropdown 2</a></li>
        <li><a href="/">Dropdown 3</a></li>
        <li><a href="/">Dropdown 4</a></li>
        </ul>
        </li>
        <li><a href="/">Pricing</a></li>
        <li><a href="/">Logout</a></li>
        </div>
        </ul>
    </nav>


        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'organizer:watchparties' %}">My WatchParties</a>
        <br>
        <a href="{% url 'organizer:favorites' %}">My Favorites</a>
        <br>
        <a href="{% url 'organizer:logout' %}">Logout</a>
    {% else %}
    <!-- <h1>Watch Party Organizer</h1> this is a bug--> 
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}

</body>

</html>