<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1 class = "text-center"> {{user}}'s Watch Parties</h1>
</head>
<body>
    <h1> My Watch parties</h1>
    {% if watchparties_list %}
        <ul class = "list-group">
        {% for watchparty in watchparties_list %}
            {% if watchparty.account == user  %}
                <form method="POST" action = "{% url 'organizer:deleteWatchParty' %}" >
                    {% csrf_token %}
                    <li class="list-group-item text-center"><a href="{% url 'organizer:detail' watchparty.id %}">{{ watchparty.title_text }}</a>: {{ watchparty.start_date }} to {{ watchparty.end_date }}</li>
                    <button type = "submit" name="deletedID" value="{{ watchparty.id }}" onclick="return confirm('Are you sure you want to delete the watch party: {{watchparty.title_text}}?')" /> Delete </button>
                </form>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No watchparties are available.</p>
    {% endif %}


    <h1 class = "text-center"> Watchparties I'm In </h1>
    {% if invitedWatchParties %}
    <ul class = "list-group">
    {% for invitedParty in invitedWatchParties %}
        <li class="list-group-item text-center"><a href="{% url 'organizer:detail' invitedParty.id %}">{{invitedParty.title_text }}</a>: {{invitedParty.start_date }} to {{invitedParty.end_date }}</li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No invited parties are available.</p>
    {% endif %}

    <a href = "{% url 'organizer:form' %}" > Create WatchParty </a>
</body>
</html>