<!DOCTYPE html>

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">-->
<html lang="en">
<div class="d-flex flex-column align-items-center justify-content-center">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ms-auto">
        <a class="btn btn-secondary md" href="{% url 'organizer:login' %}" role="button">Home</a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="watchpartyDropDown" data-bs-toggle="dropdown" aria-expanded="false">
            Watchparties
          </button>
          <ul class="dropdown-menu" aria-labelledby="watchparties">
            <li><a class="dropdown-item" href="{% url 'organizer:watchparties' %}">My Watchparties</a></li>
            <li><a class="dropdown-item" href="{% url 'organizer:form' %}">Create Watchparty</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="accountDropDown" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </button>
          <ul class="dropdown-menu" aria-labelledby="account">
            <li><a class="dropdown-item" href="{% url 'organizer:favorites' %}">Favorites</a></li>
            <li><a class="dropdown-item" href="{% url 'organizer:logout' %}">Logout</a></li>
          </ul>
        </div>
    </nav>
    <p class = "h1 text-center"> {{user}}'s Watch Parties</p>
    <style>      
        /* Some custom styles to beautify this example */
        .main-content{
            min-height: 230px;
            background: #dbdfe5;
        }
        .sidebar-content{
            min-height: 230px;
            background: #b4bac0;
        }
    </style>
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-6">
                <div class="main-content">
                    <h1> My Watch parties</h1>
                    {% if watchparties_list %}
                        <div class="m-4">
                            <ul class = "list-group">
                                {% for watchparty in watchparties_list %}
                                    {% if watchparty.account == user  %}
                                        <form method="POST" action = "{% url 'organizer:deleteWatchParty' %}" >
                                            {% csrf_token %}
                                            <li class="list-group-item text-center"><a href="{% url 'organizer:detail' watchparty.id %}">{{ watchparty.title_text }}</a>: {{ watchparty.start_date }} to {{ watchparty.end_date }}</li>
                                                <button type = "submit" style="float:right" name="deletedID" value="{{ watchparty.id }}" onclick="return confirm('Are you sure you want to delete the watch party: {{watchparty.title_text}}?')" > Delete </button>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>No watchparties are available.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="sidebar-content">
                    <h1 class = "text-center"> Watchparties I'm In </h1>
                    {% if invitedWatchParties %}
                        <ul class = "list-group">
                            {% for invitedParty in invitedWatchParties %}
                                <li class="list-group-item text-center"><a href="{% url 'organizer:detail' invitedParty.id %}">{{invitedParty.title_text }}</a>: {{invitedParty.start_date }} to {{invitedParty.end_date }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No invited parties are available.</p>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'organizer:form' %}">
                <button type="button" class="btn btn-info">Create WatchParty</button>
            </a>
        </div>
    </div>
</body>
</div>
</html>