/* Jeff is testing this */
h1 {
    color: palevioletred;
    background-color: aliceblue;
    text-align: center;
    font-size: 4em;

}
p {
    color: palevioletred;
    background-color: aliceblue;
    text-align: center;
    width: 200px;
}

body {
    background: white url("images/background.jpg");
}